In [1]:
import pandas as pd

In [4]:
a = {
    "author_id": [1, 2, 3],
    "author_name": ["Тургенев", "Чехов", "Островский"]
    }

authors = pd.DataFrame(a)


b = {
     "author_id": [1, 1, 1, 2, 2, 3, 3],
     "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
     "price": [450, 300, 350, 500, 450, 370, 290]
}

books = pd.DataFrame(b)

print(authors)
print(books)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [5]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')

print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [11]:
top5 = authors_price.nlargest(5, "price")
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [18]:
authors_stat = authors_price.groupby("author_name").agg(
    max_price  = pd.NamedAgg(column = 'price', aggfunc = 'max'),
    min_price  = pd.NamedAgg(column = 'price', aggfunc = 'min'),
    mean_price = pd.NamedAgg(column = 'price', aggfunc = 'mean'),
)

print(authors_stat)

             max_price  min_price  mean_price
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000

In [21]:
authors_price = authors_price.assign(cover = ('твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'))

print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [24]:
 ?pd.pivot_table
    
import numpy as np

In [29]:
book_info  =  pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum, fill_value=0)
print(book_info)

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [34]:
book_info.to_pickle ("book_info.pkl")

book_info2 = pd.read_pickle ("book_info.pkl")

print(book_info2)

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950